.header {
    padding: 1rem 0 3rem;
}

.title {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

.navList {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navItem {
    text-transform: uppercase;
    color: lightcoral;
    margin-right: 1.5rem;
    text-decoration: none;
}

.navItem:hover {
    color: black;
}

.activeNavItem {
    color: crimson;
}